body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f9f9f9;
}

#container {
    display: flex;
    /*max-width: 1200px;*/
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#sidebar {
    width: 300px;
    background-color: #007bff;
    color: #fff;
    padding-top: 20px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sidebar ul li:hover {
    background-color: #0056b3;
}

#content {
    flex: 1;
    padding: 40px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
    text-align: center;
}

.symbole button {
    
    background-color: #04AA6D; /* Green */
    width: 40px;
    height: 40px;
    padding: 0px 0px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

.symbole button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 30px;
    color: #333;
    font-size: 18px;
}

/*Einzelne Geometrie Bereiche*/
label {
    margin-top: 5px;
    
    display: block;
}

.circle button{
    margin-top: 5px;
}

.triangle button{
    margin-top: 5px;
}

.quadrat button{
    margin-top: 5px;
}

.rechtwinkligesdreieck button{
    margin-top: 5px;
}

.aufklearungtext{
    background-color:crimson;
    width: 400px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/*Neue Tabelle*/
/* Stil für Tabellencontainer */
/* Stil für Tabellencontainer */
.table-container {
display: flex; /* Flexbox verwenden */
justify-content: center; /* Tabellen zentrieren */
margin-top: 20px;
}

/* Stil für jede Tabelle */
table {
border-collapse: collapse;
width: 300px; /* Breite der Tabellen */
margin: 0 10px; /* Abstand zwischen den Tabellen */
border: 1px solid #ddd; /* Randstil */
border-radius: 5px; /* abgerundete Ecken */
overflow: hidden; /* Überlauf verstecken */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

/* Stil für Tabellenzellen */
td, th {
border: 1px solid #ddd;
padding: 12px;
text-align: left;
}

/* Stil für Tabellenkopf */
th {
background-color: #a7a7a7;
}

/* Stil für abwechselnde Zeilenfarbe */
tbody tr:nth-child(even) {
background-color: #f9f9f9;
}